{% extends "layout.html" %}

{% block title %}Details{% endblock title %}

{% block content %}
<div class="details-container">
    <div class="details-header">
        <h2>{{ vacation.description }}</h2>
        <hr>
    </div>

    <div class="details-content">
        <img src="{{ url_for('vacation_view.get_image', image_name=(vacation.vacationImage if vacation.vacationImage else '---')) }}"
            width="300" height="auto" alt="Vacation Image">
        <div class="details-info">
            <h5>Country: {{ vacation.countryName }}</h5>
            <h5>Country ID: {{ vacation.countryID }}</h5>
            <h5>Start Date: {{ vacation.startDate }}</h5>
            <h5>End Date: {{ vacation.endDate }}</h5>
            <h3 class="price">Price: {{ vacation.price | round(2) }}$</h3>

            <!-- buttons -->
            <div class="button-group">
                <a href="{{ url_for('vacation_view.list') }}" class="btn">Back</a>
                {% if role_id == 1 %}
                <a href="{{ url_for('vacation_view.edit', id=vacation.vacationID) }}" class="btn">Edit</a>
                <a onclick="confirmDelete()" href="{{ url_for('vacation_view.delete', id=vacation.vacationID) }}"class="btn">Delete</a>
                {% endif %}
            </div>
            <br><br>

            <!-- Like/Unlike Feature -->
            {% if role_id == 2 %}
            <div class="like-container">
                <i id="like-icon" data-vacation-id="{{ vacation.vacationID }}" data-user-id="{{ user_id }}" data-user-has-liked="{{ user_has_liked }}" style="cursor: pointer;">
                    {% if user_has_liked %}
                    <svg class="heart-icon" width="24" height="24" viewBox="0 0 24 24" fill="red" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    {% else %}
                    <svg class="heart-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    {% endif %}
                </i>
                <span id="like-count">{{ like_count }}</span> Likes
            </div>
            {% else %}
            <div class="like-container">
                <span id="like-count">{{ like_count }}</span> Likes
            </div>
            {% endif %}

            <!-- Navigation Buttons -->
            {% if previous_vacation_id %}
            <a href="{{ url_for('vacation_view.details', id=previous_vacation_id) }}" class="nav-btn left">&lt;</a>
            {% endif %}
            {% if next_vacation_id %}
            <a href="{{ url_for('vacation_view.details', id=next_vacation_id) }}" class="nav-btn right">&gt;</a>
            {% endif %}

        </div>

{% endblock content %}
