{% extends "layout.html" %}

{% block title %}Add Vacation{% endblock title %}

{% block content %}


<div class="background-container">
    <div class="form-container">
        <form method="post" class="fancy_form" enctype="multipart/form-data">
            <h4 class="form-title">Add Vacation</h4>

            <input type="hidden" value="{{ vacation.vacationID or '' }}" name="vacationID" class="form-control">

            <label>Country:</label>
            <select name="countryName" id="countryDropdown" class="form-control" required>
                <option value="">Select a country</option>
                {% for country in countries %}
                <option value="{{ country }}" {% if country==vacation.countryName %}selected{% endif %}>{{ country }}
                </option>
                {% endfor %}
            </select>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" cols="40" class="form-control"
                required>{{ vacation.description or '' }}</textarea>

            <label>Price:</label>
            <div class="price-input-wrapper">
                <span class="dollar-sign">$</span>
                <input type="number" value="{{ vacation.price or '' }}" name="price" step="0.01" class="form-control"
                    required min="0" max="10000">
            </div>

            <label>Start On:</label>
            <input type="date" value="{{ vacation.startDate or '' }}" name="startDate" class="form-control" required>

            <label>End On:</label>
            <input type="date" value="{{ vacation.endDate or '' }}" name="endDate" class="form-control" required>

            <label>Cover Image:</label>
            <input type="file" name="vacationImage" accept="image/*" class="form-control">

            <br>
            <button class="btn btn-primary submit-btn">Add Vacation</button>
            <a class="btn btn-primary button-cancel" href="{{ url_for('vacation_view.list') }}">Cancel</a>

        </form>
    </div>
</div>



<script>
    // countries list
    document.addEventListener("DOMContentLoaded", function () {
        const apiUrl = "https://restcountries.com/v3.1/all";
        const countryDropdown = document.getElementById("countryDropdown");

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                data.sort((a, b) => {
                    if (a.name && b.name) {
                        const nameA = a.name.common.toUpperCase();
                        const nameB = b.name.common.toUpperCase();
                        return nameA.localeCompare(nameB);
                    }
                    return 0;
                });

                data.forEach(country => {
                    if (country.name && country.name.common) {
                        const option = document.createElement("option");
                        option.value = country.name.common;
                        option.text = country.name.common;
                        countryDropdown.appendChild(option);
                    }
                });
            })
            .catch(error => {
                console.error("Error fetching country data:", error);
            });
    });
</script>
{% endblock content %}

<script src="{{ url_for('static', filename='path/to/your-file.js') }}"></script>
</body>

</html>