@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* B A S E    L A Y O U T*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.layout {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9% 1fr 4%;
}


header, footer {
    grid-column: span 6;
    display: flex;
    align-items: stretch;
}

footer > * {
    width: 100%;
    background-color: #222;
    color: white;
}

main {
    grid-column: span 6;
    overflow: auto;
}
/*  E N D   B A S E    L A Y O U T*/


/* V A C A T I O N S    P A G E */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;    
}

.page-header .btn {
    padding: 10px 20px;
    background-color: #155D78;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Ensure there's no border */
    outline: none; /* Remove the outline */
}

.page-header .btn:focus {
    outline: none; /* Remove the outline on focus */
}

.page-header .btn:hover {
    background-color: #B0DFDF;
    color: black;
}

.row{
    padding: 0 30px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative; /* Enable positioning of child elements */
    overflow: hidden; /* Ensure content does not overflow the card */
    margin-bottom: 20px; /* Space between cards */
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-wrapper {
    position: relative;
    overflow: hidden; /* Ensure overflow is hidden to keep gradient within the card */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.card-img-wrapper::after {
    content: "";
    position: absolute;
    bottom: 46px; /* Raised by 50px */
    left: 0;
    width: 100%;
    height: 40%; /* Adjust this as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); /* Smooth transition */
    z-index: 1; /* Ensure this is below the title */
}
.card-title {
    position: absolute;
    bottom: 40px; /* Raised by 50px + 10px for spacing from the gradient */
    left: 10px; /* Adjust as needed */
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    z-index: 2; /* Ensure the title is above the gradient */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional: for better readability */
}

.card-body {
    padding: 15px;
    text-align: left;
}

.card-title a {
    color: white;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-text {
    margin-bottom: 10px;
    color: #555;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1b92f; /* Softer gold color */
    color: #222; /* Slightly lighter dark gray for text */
    border-radius: 10px;
    font-size: 1.25em; /* Larger font size for better visibility */
    font-weight: bold; /* Slightly bold for emphasis */
    margin-top: 10px; /* Space above the price tag */
    text-align: center; /* Center-align text */
    padding-top: 15px;
}

/* Cards buttons */
.btn-overlay {
    position: absolute;
    top: 10px;
    z-index: 10; /* Ensure the button is on top of the image */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for better visibility */
    color: white;
    border: none;
    padding: 8px 10px 4px 10px; /* Adjusted padding for a cleaner look */
    border-radius: 4px;
    cursor: pointer;
}

.btn-overlay:hover {
    background-color: #c6d4e2; /* Lighter color on hover */
    color: #000;
    transform: scale(1.1); /* Slightly enlarge button on hover for emphasis */
}

.edit-btn {
    left: 10px;
}

.delete-btn {
    left: 60px;
}

.likes-btn {
    left: 10px;
}

.likes-btn-admin {
    right: 10px;
}

/* Dates */
.card-dates {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #155D78;
    color: white;
    border-radius: 8px 0 8px 0;
    padding: 10px; /* Increased padding */
    margin-top: 0; /* No extra space above */
    width: 100%;
    font-size: 1.1em; /* Slightly increased font size */
    position: relative; /* Ensure it does not affect other elements */
}

.card-dates .material-symbols-outlined {
    font-size: 1.3em; /* Increased size of the calendar symbol */
    margin-right: 5px; /* Spacing between the icon and the text */
}

/*  E N D    V A C A T I O N S   P A G E */





/* D E T A I L S   P A G E */
.details-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: hidden; /* Prevent overflow */
}

.details-header {
    text-align: center;
    margin-bottom: 20px; /* Space below the header */
}

.details-content {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Space between image and details */
    margin-bottom: 20px; /* Space below the details content */
    margin-left: 100px;
}

.details-container img {
    max-width: 50%; /* Allow image to take up half of the container's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensures the image scales while preserving aspect ratio */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-info {
    flex: 1; /* Allow text to take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    text-align: left; /* Align text to the left */
}

.details-container h2 {
    margin-bottom: 10px;
    color: #333;
}

.details-container h4, .details-container h5 {
    margin: 5px 0;
    color: #555;
    font-size: 16px; /* Ensure the text is not too large */
    line-height: 1.4; /* Improve readability */
}

.price{
    margin-top: 20px;
    margin-bottom: 25px;
    color: #555;

}

.button-group {
    display: flex;
    gap: 15px; /* Space between buttons */
}

.button-group .btn {
    padding: 10px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-group .btn:hover {
    background-color: #0056b3;
}

/* Navigation Buttons */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;
}

.nav-btn.left {
    left: 20px; /* Adjust if needed */
}

.nav-btn.right {
    right: 20px; /* Adjust if needed */
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.signup-btn {
    background-color: #B0DFDF;
    color: black;
    border: none; /* Remove default border */
}

.signup-btn a {
    color: black; /* Ensure link text is black */
    text-decoration: none; /* Remove underline from link */
}

.signup-btn:hover {
    background-color: #a0c4c4; /* Slightly darker shade for hover effect */
}

/* #B0DFDF
#155D78 */
/*  E N D    D E T A I L S    P A G E */




/* I N S E R T     P A G E */
.fancy_form {
    width: 400px;
    height: 100vh;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}

.fancy_form > input{
    margin-bottom: 20px;
}

/*E  N D    I N S E R T     P A G E */




/* L O G I N   + R E G   P A G E */
.logo-name {
    position: absolute;
    top: 20%;
    left: 6%;
    font-size: 100px;
    color: #FFFFFF; /* White */
    z-index: 3;
    font-weight: 700;
    text-shadow: 
        2px 2px 2px rgba(0, 0, 0, 0.7), 
        2px 2px 2px rgba(0, 0, 0, 0.7), 
        3px 3px 2px rgba(0, 0, 0, 0.7), 
        5px 5px 2px rgba(0, 0, 0, 0.7); /* Transparent shadow behind each letter */
}

.slogan {
    position: absolute;
    top: 38%; /* Adjusted position to be below logo-name */
    left: 10%; /* Adjust based on your design */
    font-size: 25px; /* Reduced font size */
    text-align: center;
    color: #FFFFFF; /* White */
    z-index: 3;
    font-weight: 700;
    text-shadow: 
        2px 2px 2px rgba(0, 0, 0, 0.7), 
        2px 2px 2px rgba(0, 0, 0, 0.7), 
        3px 3px 2px rgba(0, 0, 0, 0.7), 
        2px 2px 2px rgba(0, 0, 0, 0.7); /* Transparent shadow behind each letter */
    padding-top: 10px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.mySlides.active {
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div without distortion */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.42); /* Grey overlay with 50% opacity */
    z-index: 1;
}

.mySlides img {
    position: relative;
    z-index: 0;
}

.login-form {
    position: absolute;
    top: 50%;
    right: 10%; /* Adjusted position to the right */
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
}

.login-form h2 {
    margin: 0;
    margin-bottom: 10px;
}

.login-form label {
    padding-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-form input[type="submit"],
.login-form button {
    width: 100%;
    padding: 10px;
    background: #B0DFDF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover,
.login-form button:hover {
    background: #155D78;
    color: white;
}

.register {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white; /*Ensure text color matches the design */
}
/*  E N D    L O G I N     P A G E */




/* P R O F I L E + H O M E   P A G E */
.profile-container {
    grid-column: span 6;
    align-self: center;
    justify-self: center;
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}

.profile-header h1 {
    text-align: center;
    font-size: 2.8em;
    color: #333;
    margin-bottom: 10px;
}

.profile-header .role-info {
    font-size: 1.7em;
    color: #777;
    margin-bottom: 20px;
}

.profile-body h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 10px;
}

.profile-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-details li {
    font-size: 1.1em;
    color: #555;
    padding: 5px 0;
}

.profile-details li strong {
    color: #333;
}

.profile-actions h3 {
    font-size: 1.4em;
    color: #666;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    .profile-container {
        padding: 15px;
    }

    .profile-header h1 {
        font-size: 2em;
    }

    .profile-body h2 {
        font-size: 1.5em;
    }

    .profile-details li {
        font-size: 1em;
    }

    .profile-actions h3 {
        font-size: 1.2em;
    }
}
/* E N D  P R O F I L E    P A G E */





/*  ERROR CSS */
.error{
    font-size: x-large;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 20px;
}


/* A U T H   NAV */

.authNav{
    padding: 23px;
    font-size: medium;
}




/* L I K E */
#like-icon svg {
    transition: fill 0.3s ease;
}
/*END L I K E */
